body {
    background-image: url(tet.png);
    background-size: cover; /* Kích thước ảnh nền để phủ toàn bộ kích thước của phần tử */
    background-repeat: no-repeat; /* Không lặp lại ảnh nền */
    background-attachment: fixed; /* Giữ ảnh nền cố định trong cửa sổ xem */
    background-position: center; /* Canh giữa ảnh nền */
    overflow: hidden;
    position: relative;
}
canvas {
    display: block;
    position:absolute;
    z-index:5;
    top:0;
    width:100% !important;
}
@media only screen and (max-width: 46.1875em){
    .main{
        flex-direction: column-reverse;
    }
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
@keyframes changeColor {
    0%   { color: red; } /* Màu ban đầu */
    25%  { color: rgb(245, 253, 5); } /* Màu thứ 2 */
    50%  { color: rgb(0, 248, 0); } /* Màu thứ 3 */
    75%  { color: rgb(0, 247, 255); } /* Màu thứ 4 */
    100% { color: rgb(255, 0, 255); } /* Màu cuối cùng */
}
.marquee h1 {
    font-size: 50px;
    display: inline-block;
    animation: marquee 10s linear infinite, changeColor 10s linear infinite;
}
@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}