
body{
    background-image: url(tet.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: initial;
    overflow: hidden;
    position: relative;
}
canvas {
    cursor: crosshair;
    display: block;
    position:absolute;
    z-index:5;
    top:0;
    width:100% !important;
}

