
body{
    background-image: url(tet.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: initial;
    overflow: hidden;
    position: relative;
}
canvas {
    display: block;
    position:absolute;
    z-index:5;
    top:0;
    width:100% !important;
}
@media only screen and (max-width: 46.1875em){
    .main{
        flex-direction: column-reverse;
    }
}